<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="facebook-domain-verification" content="2dtfi3kofxydcglrs1ukucybyaxvii" />
    <meta name="description"
        content="Seahorse es una empresa innovadora que ofrece servicios de comercialización de productos, contamos con un equipo de expertos que tienen como prioridad satisfacer las necesidades de nuestros clientes en el lugar y momento adecuado.">
    <meta name="keywords"
        content="Consultoría empresarial, Consultoría estratégica , Empresa de consultoría , Consultoría financiera, Consultoría administrativa , Servicios de consultoría , Consultoría especializada">
    <title>Seahorse Suministros S.A. de C.V.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="https://kit.fontawesome.com/28f081bff3.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a077a0470e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="shortcut icon" href="assets/images/logoCapital.jpeg">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- MDB -->
    <link rel="stylesheet" href="/assets/css/mdb.min.css" />
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />

    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4 {
            font-family: "Lato", sans-serif
        }

        .mySlides {
            display: none
        }

        .w3-tag,
        .fa {
            cursor: pointer
        }

        .w3-tag {
            height: 15px;
            width: 15px;
            padding: 0;
            margin-top: 6px
        }
    </style>

    <script>
        function submitEmailForm(form) {
            var obj = new XMLHttpRequest();
            obj.onreadystatechange = function () {
                if (obj.readyState == 4) {
                    if (obj.status == 200) {
                        var res = JSON.parse(obj.responseText);
                        alert(res.message);
                    }
                    else {
                        console.log("XMLHttp status " + obj.status + ": " + obj.statusText);
                    }
                }
            };
            obj.open("post", form.action, true);
            obj.setRequestHeader("Content-Type", "application/json"); // NOTICE: "application/json"
            obj.send(JSON.stringify({ name: form.name.value, email: form.email.value, message: form.subject.value }));
            alert("¡En breve te contactaremos!");
            $(".formInput").val(" ");
            return false;
        }
    </script>
</head>

<body class="fonts3" data-spy="scroll" data-target="#lashistaItemLandingPage" data-offset="0">

    <div class="bodyPrincipal">
        {{{body}}}
    </div>
    <!-- Footer -->

    <footer class="w3-container w3-padding-32 w3-light-grey w3-center">
        <h4>Seahorse Suministros S.A. de C.V.</h4>
        <a href="#" class="w3-button formItem w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>Ir al inicio</a>
        
        <p>Visita nuestra <a href="privacidad" title="W3.CSS" target="_blank"
                class="w3-hover-text-green">política de privacidad</a></p>
    </footer>


    <script>
        // Slideshow
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demodots");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length };
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-white";
        }
    </script>

    <script src="/assets/js/script.js"></script>
    <!-- MDB -->
    <script type="text/javascript" src="/assets/js/mdb.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>