<div class="inicio">
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
                <!-- Left links -->
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#productos">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto">Contacto</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    {{!--
    <!-- Links (sit on top) -->
    <div class="w3-top">
        <div class="w3-row w3-large w3-light-grey">
            <div class="w3-col s3">
                <a href="#" class="w3-button w3-block">Inicio</a>
            </div>
            <div class="w3-col s3">
                <a href="#plans" class="w3-button w3-block">Nosotros</a>
            </div>
            <div class="w3-col s3">
                <a href="#about" class="w3-button w3-block">Oferta</a>
            </div>
            <div class="w3-col s3">
                <a href="#contact" class="w3-button w3-block">Contacto</a>
            </div>
        </div>
    </div> --}}
    <div class="bannerInicio">

    </div>
    <div class="fixed-action-btn" id="fixed1">
        <a class="btn btn-primary btn-floating btn-lg" href="#contacto"
            style="background-color: #4caf50; color: white;">
            <i class="fas fa-envelope"></i>
        </a>
        <ul class="list-unstyled">

        </ul>
    </div>
    <div class="slogan text-center">
        <h1><b>Conectando al mundo.</b></h1>

    </div>
    <div class="container">

        <!-- Grid -->
        <div class="w3-row w3-container bodyOffer" id="nosotros">
            <div class="w3-center">

            </div>
            <div class="w3-col l3 m6 firstBG w3-container w3-padding-16">
                <h3>Innovamos</h3>
                <p>Somos una empresa innovadora que ofrece servicios de comercialización de productos.</p>
            </div>

            <div class="w3-col l3 m6 secondBG w3-container w3-padding-16">
                <h3>Contamos con expertos</h3>
                <p>Nuestro equipo tiene como prioridad satisfacer las necesidades de nuestros clientes en el lugar y
                    momento adecuado.</p>
            </div>

            <div class="w3-col l3 m6 thirdBG w3-container w3-padding-16">
                <h3>Alianzas estratégicas</h3>
                <p>Nuestro desempeño en el mercado es alto, lo que nos permite ofrecer precios competitivos en el
                    mercado.</p>
            </div>

            <div class="w3-col l3 m6 fourthBG w3-container w3-padding-16">
                <h3>Logística & almacén</h3>
                <p>Nuestros equipos nos permiten gestionar y transportar los suministros a nivel nacional e
                    internacional.</p>
            </div>
        </div>

        <div class="container">
            <div class="w3-center w3-padding-64 blueNavy">
                <h1><span class="  w3-padding-16">Nosotros</span></h1>
                <hr style="border: 10px solid #2f76cd ;">
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Misión</h5>
                            <hr>
                            <p class="card-text">Brindar servicios de alta calidad, respuesta inmediata y con la mejor
                                atención al cliente.</p>
                            <p><button class="btn btnSea " onclick="location.href='#contacto';">Contacto</button></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Visión</h5>
                            <hr>
                            <p class="card-text">Ser reconocidos por brindar soluciones inteligentes dentro de la
                                comercialización de
                                mercancías.</p>
                            <p><button class="btn btnSea " onclick="location.href='#contacto';">Contacto</button></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Promesa</h5>
                            <hr>
                            <p class="card-text">Brindar servicios de alta calidad, respuesta inmediata y con la mejor
                                atención al cliente.</p>
                            <p><button class="btn btnSea " onclick="location.href='#contacto';">Contacto</button></p>
                        </div>
                    </div>
                </div>
                
            </div> <br> <br>
            <div class="row">
                <div class="w3-center w3-padding-64 blueNavy">
                    <h1><span class="  w3-padding-16">Valores</span></h1>
                    <hr style="border: 10px solid #2f76cd ;">
                </div>
               
                        <ul class="list-group list-group-light ">
                            <li class="list-group-item listItem"><i class="fa-brands fa-product-hunt listIcon"></i>
                                Calidad</li>
                            <li class="list-group-item  listItem"><i class="fa-solid fa-hand-holding-hand listIcon"></i>
                                Compromiso</li>
                            <li class="list-group-item  listItem"><i class="fa-solid fa-people-pulling listIcon"></i>
                                Lealtad</li>
                            <li class="list-group-item  listItem"><i class="fa-solid fa-briefcase listIcon"></i>
                                Profesionalismo</li>
                            <li class="list-group-item  listItem"><i class="fa-solid fa-business-time listIcon"></i>
                                Puntualidad</li>
                        </ul>
              
            </div>
        </div>

    </div>
    <div class="productosBg" id="productos">

    </div>
    <div class="productosDiv">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="/assets/images/contenedor.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <h5 class="card-title">Contenedores</h5>
                            <hr>
                            <p class="card-text">Gran variedad de en la línea de contenedores, como son de
                                reciclaje, marítimo, terrestre, aérea, ferroviaria, refrigerado, entre otros.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card marginRespCard">
                        <img src="/assets/images/seguridad.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <h5 class="card-title">Barras y señales de seguridad</h5>
                            <hr>
                            <p class="card-text">Señalamientos colgantes, portátiles y en conos.</p> <br>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card marginRespCard">
                        <img src="/assets/images/carro.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <h5 class="card-title">Carros de limpieza</h5>
                            <hr>
                            <p class="card-text">Carros de lavandería, para camarera, portamaletas y multifuncionales.
                                <br>
                            </p>

                        </div>
                    </div>
                </div>
            </div> <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="/assets/images/limpieza.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <h5 class="card-title">Kit de limpieza</h5>
                            <hr>
                            <p class="card-text">Contamos con productos de limpieza como son; jarcería, detergente,
                                limpiador multiusos, desinfectante, entre otros para hogar o negocio. Adicionalmente
                                contamos con una línea de productos biodegradables.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card marginRespCard">
                        <img src="/assets/images/ferreteria.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <h5 class="card-title">Ferretería en general</h5>
                            <hr>
                            <p class="card-text">Tenemos herramientas de medición, decorte, eléctricas, neumáticas,
                                hidráulicas, de mano, de jardinería, para aplicación de todo tipo de pintura, artículos
                                para plomería y gas, cerraduras y accesorios para W.C.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card marginRespCard">
                        <img src="/assets/images/lavaplatos.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <h5 class="card-title">Artículos de limpieza</h5>
                            <hr>
                            <p class="card-text">Ofrecemos exclusividad en productos electrodomésticos y línea blanca a
                                nuestros clientes. Manejamos ventiladores, lavaplatos, secadoras, lavadoras, microondas,
                                refrigeradores, congeladores, hornos, cafeteras, tostadores, basculas, aspiradoras,
                                planchas, freidoras entre otros.</p>

                        </div>
                    </div>
                </div>
            </div> <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="/assets/images/oficina.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <h5 class="card-title">Mobiliario para oficina</h5>
                            <hr>
                            <p class="card-text">Adaptamos nuestras soluciones de mobiliario a su negocio o espacio:
                                Sillas directivas, ejecutivas y de visita, módulos de trabajo, mamparas, estaciones de
                                trabajo, escritorios, mobiliario ejecutivo y directivo, mesas de juntas, recepciones,
                                libreros, archiveros y cajoneras, cajas fuertes, bancas de espera.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card marginRespCard">
                        <img src="/assets/images/ropa.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <h5 class="card-title">Ropa y calzado</h5>
                            <hr>
                            <p class="card-text">Disponemos de diferentes estilos de ropa, calzado y accesorios como
                                bolsas, vestidos, camisetas, pantalones, tenis, zapatos para dama, caballero e infantil.
                                <br> <br> <br>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card marginRespCard">
                        <img src="/assets/images/autoparte.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <h5 class="card-title">Autopartes</h5>
                            <hr>
                            <p class="card-text">Comercializamos refacciones de vehículos, camiones y autobuses como son
                                motores, transmisiones automáticas, frenos, cofres, salpicaderas, facias, sensores,
                                faros, computadoras, módulos, amortiguadores, llantas y más.<br><br> </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!--
    <!-- Grid -->
    <div class="w3-row-padding" id="plans">
        <div class="w3-center w3-padding-64">
            <h3>Pricing Plans</h3>
            <p>Choose a pricing plan that fits your needs.</p>
        </div>

        <div class="w3-third w3-margin-bottom">
            <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                <li class="w3-black w3-xlarge w3-padding-32">Basic</li>
                <li class="w3-padding-16"><b>10GB</b> Storage</li>
                <li class="w3-padding-16"><b>10</b> Emails</li>
                <li class="w3-padding-16"><b>10</b> Domains</li>
                <li class="w3-padding-16"><b>Endless</b> Support</li>
                <li class="w3-padding-16">
                    <h2 class="w3-wide">$ 10</h2>
                    <span class="w3-opacity">per month</span>
                </li>
                <li class="w3-light-grey w3-padding-24">
                    <button class="w3-button w3-green w3-padding-large">Sign Up</button>
                </li>
            </ul>
        </div>

        <div class="w3-third w3-margin-bottom">
            <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                <li class="w3-dark-grey w3-xlarge w3-padding-32">Pro</li>
                <li class="w3-padding-16"><b>25GB</b> Storage</li>
                <li class="w3-padding-16"><b>25</b> Emails</li>
                <li class="w3-padding-16"><b>25</b> Domains</li>
                <li class="w3-padding-16"><b>Endless</b> Support</li>
                <li class="w3-padding-16">
                    <h2 class="w3-wide">$ 25</h2>
                    <span class="w3-opacity">per month</span>
                </li>
                <li class="w3-light-grey w3-padding-24">
                    <button class="w3-button w3-green w3-padding-large">Sign Up</button>
                </li>
            </ul>
        </div>

        <div class="w3-third w3-margin-bottom">
            <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                <li class="w3-black w3-xlarge w3-padding-32">Premium</li>
                <li class="w3-padding-16"><b>50GB</b> Storage</li>
                <li class="w3-padding-16"><b>50</b> Emails</li>
                <li class="w3-padding-16"><b>50</b> Domains</li>
                <li class="w3-padding-16"><b>Endless</b> Support</li>
                <li class="w3-padding-16">
                    <h2 class="w3-wide">$ 50</h2>
                    <span class="w3-opacity">per month</span>
                </li>
                <li class="w3-light-grey w3-padding-24">
                    <button class="w3-button w3-green w3-padding-large">Sign Up</button>
                </li>
            </ul>
        </div>
    </div> --}}

    <div class="container" id="contacto">

        <!-- Contact -->
        <div class="w3-center w3-padding-64" id="contact">
            <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Contactáctanos</span>
        </div>

        <form class="w3-container" action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
            <div class="w3-section">
                <label>Nombre</label>
                <input class="w3-input w3-border w3-hover-border-black formInput" style="width:100%;" type="text"
                    name="name" required>
            </div>
            <div class="w3-section">
                <label>Correo electrónico</label>
                <input class="w3-input w3-border w3-hover-border-black formInput" style="width:100%;" type="text"
                    name="email" required>
            </div>
            <div class="w3-section">
                <label>Producto de interés</label>
                <input class="w3-input w3-border w3-hover-border-black formInput" style="width:100%;" name="subject"
                    required>
            </div>


            <button type="submit" class="w3-button w3-block formItem">Enviar</button>

        </form>
    </div>


</div>
<br> <br>