<div class="inicio">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navBar">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0 " href="#">
                    <img class="logoInicioOneClick" src="/assets/images/logoOneClick.png" height="100" alt="MDB Logo"
                        loading="lazy" />
                </a>


                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/privacidad">Política de privacidad</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="bannerDivInicio">

    </div>
    <div class="container contEmpresa" id="nosotros">
        <div class="row text-center">
            <h2 class=" display-5 fw-bold ls-tight">
                Somos una empresa comercializadora
            </h2>

            <h4 class="paragraphSomos">
                Hemos logrado trascender a nivel empresarial en el mercado, ofreciendo suministros y productos de alta
                calidad en beneficio de todos nuestros clientes.
            </h4>
        </div>
    </div>
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10">

                <div class="row gx-lg-5 mb-5 align-items-center">
                    <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/marOne.png" class="imageCell " alt=""
                            aria-controls="#picker-editor"> </div>
                    <div class="col-md-6 mb-4 mb-md-0">
                        <h3 class="fw-bold">Nuestra Empresa</h3>
                        <div class="mb-2 text-danger small"> <i class="fas fa-users me-2"
                                aria-controls="#picker-editor"></i><span>Variedad de productos de primera calidad</span>
                        </div>
                        <h4>Misión</h4>
                        <p class="text-muted">Satisfacer las necesidades de nuestros clientes dándole la mejor calidad
                            de nuestros productos que ofrecemos.</p> <br>
                        <h4>Visión</h4>
                        <p class="text-muted">Seguir siendo una comercializadora reconocida por la dedicación y
                            confianza que otorgamos a nuestros clientes.</p>
                        <hr>
                        <div class="row">
                            <h4>Valores</h4>
                            <div class="col-md-4">
                                <div class="list-group list-group-light" id="list-tab" role="tablist">
                                    <a class="list-group-item list-group-item-action active px-3 border-0"
                                        id="list-home-list" data-mdb-toggle="list" href="#list-home" role="tab"
                                        aria-controls="list-home">Honestidad</a>
                                    <a class="list-group-item list-group-item-action px-3 border-0"
                                        id="list-profile-list" data-mdb-toggle="list" href="#list-profile" role="tab"
                                        aria-controls="list-profile">Responsabilidad</a>
                                    <a class="list-group-item list-group-item-action px-3 border-0"
                                        id="list-messages-list" data-mdb-toggle="list" href="#list-messages" role="tab"
                                        aria-controls="list-messages">Trabajo en equipo</a>
                                    <a class="list-group-item list-group-item-action px-3 border-0"
                                        id="list-settings-list" data-mdb-toggle="list" href="#list-settings" role="tab"
                                        aria-controls="list-settings">Puntualidad</a>
                                </div>
                            </div>
                            <div class="col-md-8"> <br>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane listTextList fade show active" id="list-home" role="tabpanel"
                                        aria-labelledby="list-home-list ">
                                        En la relación que construimos con nuestros clientes. Para poder generar un
                                        vínculo de confianza y plenitud en la colaboración.
                                    </div>
                                    <div class="tab-pane listTextList fade" id="list-profile" role="tabpanel"
                                        aria-labelledby="list-profile-list ">
                                        En el manejo de nuestro trabajo, para entregar la mejor calidad.
                                    </div>
                                    <div class="tab-pane listTextList fade" id="list-messages" role="tabpanel"
                                        aria-labelledby="list-messages-list">
                                        Una filosofía interna, pero que también compartimos con nuestros colaboradores.
                                    </div>
                                    <div class="tab-pane listTextList fade" id="list-settings" role="tabpanel"
                                        aria-labelledby="list-settings-list ">
                                        En cada uno de los procesos de la colaboración con nosotros.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>

                    </div>
                </div>

            </section>
        </section>
        <!---->
    </div>
    <section>
        <div class="bg-image bgBlue" style="background-image: url(/assets/images/blueBanner.jpg);">


            <div class="mask d-flex align-items-center h-100">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-md-4 mb-4 mb-md-0">
                            <div class="card mask-custom-1 py-5 text-white">
                                <div class="card-body">
                                    <img class="rounded-circle shadow-2-strong mb-5" src="/assets/images/oscar.jpg"
                                        alt="avatar" style="width: 100px;" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="200">
                                    <h5 class="mb-4 font2Rem" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="300">
                                        Oscar Rebollar</h5>

                                    <p class="mb-4" data-mdb-toggle="animation" data-mdb-animation-start="onLoad"
                                        data-mdb-animation="slide-in-left" data-mdb-animation-duration="1000"
                                        data-mdb-animation-delay="400">
                                        "Desde que mis socios me recomendaron OneClick, la calidad de sus productos me
                                        encantó."</p>
                                    <ul class="list-unstyled mb-0" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="500">

                                        {{!-- <a href="#!" class="px-1">
                                            <i class="fab fa-twitter text-white"></i>
                                        </a>
                                        <a href="#!" class="px-1">
                                            <i class="fab fa-linkedin-in text-white"></i>
                                        </a> --}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4 mb-md-0">
                            <div class="card mask-custom-1 py-5 text-white">
                                <div class="card-body">
                                    <img class="rounded-circle shadow-2-strong mb-5" src="/assets/images/veronica.jpg"
                                        alt="avatar" style="width: 100px;" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="200">
                                    <h5 class="mb-4 font2Rem" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="300">
                                        Veronica Saldaña</h5>

                                    <p class="mb-4" data-mdb-toggle="animation" data-mdb-animation-start="onLoad"
                                        data-mdb-animation="slide-in-left" data-mdb-animation-duration="1000"
                                        data-mdb-animation-delay="400">
                                        "Me han ayudado mucho a satisfacer a mis propios clientes. Es una opción que
                                        recomiendo en cualqueir etapa de tu empresa."</p>
                                    <ul class="list-unstyled mb-0" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="500">

                                        {{!-- <a href="#!" class="px-1">
                                            <i class="fab fa-twitter text-white"></i>
                                        </a>
                                        <a href="#!" class="px-1">
                                            <i class="fab fa-linkedin-in text-white"></i>
                                        </a> --}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-0">
                            <div class="card mask-custom-1 py-5 text-white">
                                <div class="card-body">
                                    <img class="rounded-circle shadow-2-strong mb-5" src="/assets/images/roman.jpg"
                                        alt="avatar" style="width: 100px;" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="200">
                                    <h5 class="mb-4 font2Rem" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="300">
                                        Román García</h5>
                                    <p class="mb-4" data-mdb-toggle="animation" data-mdb-animation-start="onLoad"
                                        data-mdb-animation="slide-in-left" data-mdb-animation-duration="1000"
                                        data-mdb-animation-delay="400">
                                        "El mejor trabajo de su parte es lo que se puede esperar. Han contribuído mucho
                                        al crecimiento de mi empresa."</p>
                                    <ul class="list-unstyled mb-0" data-mdb-toggle="animation"
                                        data-mdb-animation-start="onLoad" data-mdb-animation="slide-in-left"
                                        data-mdb-animation-duration="1000" data-mdb-animation-delay="500">

                                        {{!-- <a href="#!" class="px-1">
                                            <i class="fab fa-linkedin-in text-white"></i>
                                        </a>
                                        <a href="#!" class="px-1">
                                            <i class="fab fa-instagram text-white"></i>
                                        </a> --}}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
<div class="valueProp" id="servicios">
    <div class="container">
        <div data-draggable="true" style="position: relative;">
            <!---->
            <!---->
            <section draggable="false" class="container pt-5" data-v-271253ee="">
                <section class="mb-10 text-center">

                    <div data-draggable="true" style="position: relative;">
                        <!---->
                        <!---->
                        <section draggable="false" class="container pt-5" data-v-271253ee="">
                            <section class="mb-10">
                                <div class="row">
                                    <a class="mt-2 mt-lg-0 " href="#">
                                        <img class="logoInicioOneClick logo2One" src="/assets/images/logoOneClick.png"
                                            height="100" alt="MDB Logo" loading="lazy" />
                                    </a> <br>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="text-center" style="max-width: 700px">
                                        <h2 class="fw-bold mb-4">Nuestros servicios</h2> <br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 mb-5">
                                        <div class="d-flex align-items-start">
                                            <div class="flex-shrink-0"> <i
                                                    class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
                                            <div class="flex-grow-1 ms-3">
                                                <p class="fw-bold mb-1">Ofrecemos una amplia variedad de toda clase de
                                                    mercancías, productos y bienes profesionales.</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 mb-5">
                                        <div class="d-flex align-items-start">
                                            <div class="flex-shrink-0"> <i
                                                    class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
                                            <div class="flex-grow-1 ms-3">
                                                <p class="fw-bold mb-1"> Contamos con un sistema de monitoreo y
                                                    logística de alta tecnología para hacer llegar tus
                                                    productos en tiempo y forma en la fecha acordada.</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 mb-5">
                                        <div class="d-flex align-items-start">
                                            <div class="flex-shrink-0"> <i
                                                    class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
                                            <div class="flex-grow-1 ms-3">
                                                <p class="fw-bold mb-1">Otorgamos a nuestros clientes asesorías para que
                                                    cumplan con los requisitos legales para la
                                                    compra, venta y comercialización de productos.</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 mb-5">
                                        <div class="d-flex align-items-start">
                                            <div class="flex-shrink-0"> <i
                                                    class="fas fa-check-circle fa-lg text-success fa-fw"></i> </div>
                                            <div class="flex-grow-1 ms-3">
                                                <p class="fw-bold mb-1">Contamos con una amplia cartera de
                                                    proveedores para dar el mejor servicio a nuestros clientes.</p>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </section>
                        </section>
                        <!---->
                    </div>
                </section>
            </section>
            <!---->
        </div>
    </div>

</div>
<div class="computoDiv">

</div>
<div data-draggable="true" style="position: relative;">
    <!---->
    <!---->
    <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10">
            <div class="d-flex justify-content-center">
                <div class="text-center" style="max-width: 700px">


                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/3.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Computadoras</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/4.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Monitores</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/5.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Impresoras</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/6.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Bocinas</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/7.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Cámaras</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/8.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Pantallas</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/9.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Proyectores</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </section>
    <!---->
</div>
<div class="limpieza">

</div>
<div data-draggable="true" style="position: relative;">
    <!---->
    <!---->
    <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10">
            <div class="d-flex justify-content-center">
                <div class="text-center" style="max-width: 700px">


                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/10.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Jabones</h5>
                                <p class="card-text">Jabón para manos en líquido y espuma.
                                    Jabón industrial, en spray, antibacteriales.</p>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/11.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Papel higiénico</h5>
                                <p class="card-text">Rollo &
                                    Higiénico tradicional.</p>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/12.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Servilletas</h5>
                                <p class="card-text">Faciales & papel para cocina.</p>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/13.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Despachadores higiénicos</h5>
                                <p class="card-text">Toalla para manos, servilleteros, papel higiénico
                                    & jabón.</p>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/14.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Tapetes</h5>
                                <p class="card-text">Sanitizantes, de entrada & antifatiga.</p>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/15.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Escobas y cepillos</h5>
                                <p class="card-text">Jaladores, mechudos, cepillos de mano.</p>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/16.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Aromatizantes y desodorantes</h5>
                                <p class="card-text">Aerosol & Pastilla.</p>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/17.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Químicos</h5>
                                <p class="card-text">Jabón para manos, cloro, pinol, sanitizantes & aromatizante.</p>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </section>
    <!---->
</div>
<div class="mobiliarioDiv">

</div>
<div data-draggable="true" style="position: relative;">
    <!---->
    <!---->
    <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10">
            <div class="d-flex justify-content-center">
                <div class="text-center" style="max-width: 700px">


                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/18.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Escritorios</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/19.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Sillas</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/20.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Estantes</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/21.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Libreros</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/22.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Archiveros</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/23.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Lockers</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </section>
    </section>
    <!---->
</div>
<div class="covid">

</div>
<div data-draggable="true" style="position: relative;">
    <!---->
    <!---->
    <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10">
            <div class="d-flex justify-content-center">
                <div class="text-center" style="max-width: 700px">


                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/24.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Cubrebocas</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/25.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Guantes</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/26.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Gel antibacterial</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/27.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Overoles</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/28.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Goggles</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/29.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Termómetros</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </section>
    </section>
    <!---->
</div>
<div class="papeleria">

</div>
<div data-draggable="true" style="position: relative;">
    <!---->
    <!---->
    <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10">
            <div class="d-flex justify-content-center">
                <div class="text-center" style="max-width: 700px">


                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/30.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Todo tipo de papel</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/31.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Bolígrafos & Lápices</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/32.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Notas Adhesivas</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/33.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Blocks</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/34.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Separadores</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/35.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Sacapuntas</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/36.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Marcadores</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/37.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Carpetas y Folders</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/38.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Clips</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/39.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Gomas</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/40.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Reglas</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/41.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Adhesivos</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/42.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Engrapadoras y Grapas</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/43.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Engargoladoras</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/44.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Micas</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/45.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Cuadernos y Libretas</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/46.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Sobres</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/47.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Tijeras</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/48.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Sellos & broches</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </section>
    </section>
    <!---->
</div>
<div class="enlatados">

</div>
<div data-draggable="true" style="position: relative;">
    <!---->
    <!---->
    <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10">
            <div class="d-flex justify-content-center">
                <div class="text-center" style="max-width: 700px">


                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/49.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Frutas</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/50.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Verduras</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/51.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Atún</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/53.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Productos Cárnicos</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/54.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Sopas </h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/55.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Leguminosas</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/56.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Lácteos</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/57.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Chiles</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="d-flex align-items-start">
                        <div class="card">
                            <img src="/assets/images/58.jpg" class="card-img-top" alt="Fissure in Sandstone" />
                            <div class="card-body">
                                <h5 class="card-title">Comida instantánea</h5>

                                <a href="#contacto" class="btn btn-primary">Cotizar</a>
                            </div>
                        </div>

                    </div>
                </div>
                

            </div>
        </section>
    </section>
    <!---->
</div>
<div class="container otrosServices">
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10 text-center">

                <div data-draggable="true" style="position: relative;">
                    <!---->
                    <!---->
                    <section draggable="false" class="container pt-5" data-v-271253ee="">
                        <section class="mb-10">

                            <div class="d-flex justify-content-center">
                                <div class="text-center" style="max-width: 700px">
                                    <h2 class="fw-bold mb-4">Otros servicios</h2> <br>
                                </div>
                            </div>
                            <div class="row">

                                <p class="fw-bold mb-1">También contamos con servicios de importación y exportación de
                                    productos para abastecer el mercado cumpliendo con todos los procesos, normas y
                                    obligaciones de la ley aduanera. Nuestro objetivo es evitar recibir multas y ahorrar
                                    tiempo, dando seguimiento continuo a tu mercancía hasta la llegada a su destino.</p>

                            </div>
                        </section>
                    </section>
                    <!---->
                </div>
            </section>
        </section>
        <!---->
    </div>
</div>
<div id="contacto">
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10 text-center">
                <style>
                    hr.divider-vertical {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 1px;
                        background-image: linear-gradient(180deg, transparent, hsl(0, 0%, 40%), transparent);
                        background-color: transparent;
                        height: 100%;
                    }
                </style> <!-- Background image -->
                <div class="p-5 bg-image imageFinal"
                    style="background-image: url(/assets/images/banner2.jpg); height: 40rem; background-size: cover; background-position: 50% 6%;"
                    aria-controls="#picker-editor"></div> <!-- Background image -->
                <div class="card mx-4 mx-md-5 shadow-5-strong"
                    style=" margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px); ">

                    <div class="card-body py-5 px-md-5">
                        <div class="row text-center">
                            <h3>En breve te contactaremos...</h3> <br> <br> <br>
                        </div>

                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6">
                                <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                                    <!-- Name input -->
                                    <div class="form-outline mb-4"> <input type="text" id="form4Example1"
                                            class="form-control formInput" name="name" required> <label
                                            class="form-label" for="form4Example1"
                                            style="margin-left: 0px;">Nombre</label>
                                        <div class="form-notch">
                                            <div class="form-notch-leading" style="width: 9px;"></div>
                                            <div class="form-notch-middle" style="width: 42.4px;"></div>
                                            <div class="form-notch-trailing"></div>
                                        </div>
                                    </div> <!-- Email input -->
                                    <div class="form-outline mb-4"> <input type="email" id="form4Example2"
                                            class="form-control formInput" name="email" required>
                                        <label class="form-label" for="form4Example2" style="margin-left: 0px;">Correo
                                            electrónico</label>
                                        <div class="form-notch">
                                            <div class="form-notch-leading" style="width: 9px;"></div>
                                            <div class="form-notch-middle" style="width: 88.8px;"></div>
                                            <div class="form-notch-trailing"></div>
                                        </div>
                                    </div> <!-- Message input -->
                                    <div class="form-outline mb-4"> <textarea class="form-control formInput"
                                            id="form4Example3" rows="4" name="message" required></textarea> <label
                                            class="form-label" for="form4Example3" style="margin-left: 0px;">Servicio de
                                            interés</label>
                                        <div class="form-notch">
                                            <div class="form-notch-leading" style="width: 9px;"></div>
                                            <div class="form-notch-middle" style="width: 60px;"></div>
                                            <div class="form-notch-trailing"></div>
                                        </div>
                                    </div>
                                    <!-- Checkbox -->
                                    <div class="form-check d-flex justify-content-center mb-4">
                                        <input class="form-check-input me-2 formInput" type="checkbox" value=""
                                            id="form2Example33" required />
                                        <label class="form-check-label" for="form2Example33">
                                            Acepto política de privacidad
                                        </label>
                                    </div>
                                    <!-- Submit button -->
                                    <button type="submit" class="btn  btn-dark btn-block"
                                        aria-controls="#picker-editor">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
</div>