<div class="inicio">
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
                <!-- Left links -->
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto">Contacto</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    {{!--
    <!-- Links (sit on top) -->
    <div class="w3-top">
        <div class="w3-row w3-large w3-light-grey">
            <div class="w3-col s3">
                <a href="#" class="w3-button w3-block">Inicio</a>
            </div>
            <div class="w3-col s3">
                <a href="#plans" class="w3-button w3-block">Nosotros</a>
            </div>
            <div class="w3-col s3">
                <a href="#about" class="w3-button w3-block">Oferta</a>
            </div>
            <div class="w3-col s3">
                <a href="#contact" class="w3-button w3-block">Contacto</a>
            </div>
        </div>
    </div> --}}
    <div class="bannerInicio">

    </div>
    <div class="slogan text-center">
        <h1><b>Conectando al mundo.</b></h1>
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <hr>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
    <div class="container">

        <!-- Grid -->
        <div class="w3-row w3-container bodyOffer" id="nosotros">
            <div class="w3-center">

            </div>
            <div class="w3-col l3 m6 firstBG w3-container w3-padding-16">
                <h3>Innovamos</h3>
                <p>Somos una empresa innovadora que ofrece servicios de comercialización de productos.</p>
            </div>

            <div class="w3-col l3 m6 secondBG w3-container w3-padding-16">
                <h3>Contamos con expertos</h3>
                <p>Nuestro equipo tiene como prioridad satisfacer las necesidades de nuestros clientes en el lugar y
                    momento adecuado.</p>
            </div>

            <div class="w3-col l3 m6 thirdBG w3-container w3-padding-16">
                <h3>Alianzas estratégicas</h3>
                <p>Nuestro desempeño en el mercado es alto, lo que nos permite ofrecer precios competitivos en el
                    mercado.</p>
            </div>

            <div class="w3-col l3 m6 fourthBG w3-container w3-padding-16">
                <h3>Logística & almacén</h3>
                <p>Nuestros equipos nos permiten gestionar y transportar los suministros a nivel nacional e
                    internacional.</p>
            </div>
        </div>

        <!-- Grid -->
        <div class="w3-row-padding" id="nosotros">
            <div class="w3-center w3-padding-64">
                <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Nosotros</span>
            </div>

            <div class="w3-third w3-margin-bottom">
                <div class="w3-card-4">
                    <br>
                    <div class="w3-container">
                        <h3>Misión</h3>
                        <hr>
                        <p class="w3-opacity"></p>
                        <p>Brindar servicios de alta calidad, respuesta inmediata y con la mejor atención al cliente.
                            <br> <br>
                        </p>
                        <p><button class="btn btnSea " onclick="location.href='#contacto';">Contacto</button></p>
                    </div>
                </div>
            </div>

            <div class="w3-third w3-margin-bottom">
                <div class="w3-card-4">
                    <br>
                    <div class="w3-container">
                        <h3>Visión</h3>
                        <hr>
                        <p class="w3-opacity"></p>
                        <p>Ser reconocidos por brindar soluciones inteligentes dentro de la comercialización de
                            mercancías. <br> <br>
                        </p>
                        <p><button class="btn btnSea " onclick="location.href='#contacto';">Contacto</button></p>
                    </div>
                </div>
            </div>

            <div class="w3-third w3-margin-bottom">
                <div class="w3-card-4">
                    <br>
                    <div class="w3-container">
                        <h3>Promesa</h3>
                        <hr>
                        <p class="w3-opacity"></p>
                        <p>Siempre te atenderá nuestro personal calificado, con la atención personalizada que
                            mereces y los precios competitivos que necesitas.

                        </p>
                        <p><button class="btn btnSea" onclick="location.href='#contacto';">Contacto</button></p>
                    </div>
                </div>
            </div>
        </div> <br>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="w3-card-4">
                        <br>
                        <div class="w3-container">
                            <h3>Valores</h3>
                            <hr>
                            <p class="w3-opacity"></p>
                            <p>
                            <ul class="list-group list-group-light ">
                                <li class="list-group-item listItem"><i class="fa-brands fa-product-hunt listIcon"></i>
                                    Calidad</li>
                                <li class="list-group-item  listItem"><i
                                        class="fa-solid fa-hand-holding-hand listIcon"></i> Compromiso</li>
                                <li class="list-group-item  listItem"><i
                                        class="fa-solid fa-people-pulling listIcon"></i> Lealtad</li>
                                <li class="list-group-item  listItem"><i class="fa-solid fa-briefcase listIcon"></i>
                                    Profesionalismo</li>
                                <li class="list-group-item  listItem"><i class="fa-solid fa-business-time listIcon"></i>
                                    Puntualidad</li>
                            </ul>

                            </p>
                            <p><button class="btn btnSea" onclick="location.href='#contacto';">Contacto</button></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/assets/images/seaSum.jpg" alt="logoAzul" class="logoPngColor">
                </div>
            </div>
        </div>

        <!-- Grid -->
        <div class="w3-row-padding" id="plans">
            <div class="w3-center w3-padding-64">
                <h3>Pricing Plans</h3>
                <p>Choose a pricing plan that fits your needs.</p>
            </div>

            <div class="w3-third w3-margin-bottom">
                <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                    <li class="w3-black w3-xlarge w3-padding-32">Basic</li>
                    <li class="w3-padding-16"><b>10GB</b> Storage</li>
                    <li class="w3-padding-16"><b>10</b> Emails</li>
                    <li class="w3-padding-16"><b>10</b> Domains</li>
                    <li class="w3-padding-16"><b>Endless</b> Support</li>
                    <li class="w3-padding-16">
                        <h2 class="w3-wide">$ 10</h2>
                        <span class="w3-opacity">per month</span>
                    </li>
                    <li class="w3-light-grey w3-padding-24">
                        <button class="w3-button w3-green w3-padding-large">Sign Up</button>
                    </li>
                </ul>
            </div>

            <div class="w3-third w3-margin-bottom">
                <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                    <li class="w3-dark-grey w3-xlarge w3-padding-32">Pro</li>
                    <li class="w3-padding-16"><b>25GB</b> Storage</li>
                    <li class="w3-padding-16"><b>25</b> Emails</li>
                    <li class="w3-padding-16"><b>25</b> Domains</li>
                    <li class="w3-padding-16"><b>Endless</b> Support</li>
                    <li class="w3-padding-16">
                        <h2 class="w3-wide">$ 25</h2>
                        <span class="w3-opacity">per month</span>
                    </li>
                    <li class="w3-light-grey w3-padding-24">
                        <button class="w3-button w3-green w3-padding-large">Sign Up</button>
                    </li>
                </ul>
            </div>

            <div class="w3-third w3-margin-bottom">
                <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                    <li class="w3-black w3-xlarge w3-padding-32">Premium</li>
                    <li class="w3-padding-16"><b>50GB</b> Storage</li>
                    <li class="w3-padding-16"><b>50</b> Emails</li>
                    <li class="w3-padding-16"><b>50</b> Domains</li>
                    <li class="w3-padding-16"><b>Endless</b> Support</li>
                    <li class="w3-padding-16">
                        <h2 class="w3-wide">$ 50</h2>
                        <span class="w3-opacity">per month</span>
                    </li>
                    <li class="w3-light-grey w3-padding-24">
                        <button class="w3-button w3-green w3-padding-large">Sign Up</button>
                    </li>
                </ul>
            </div>
        </div>



        <!-- Contact -->
        <div class="w3-center w3-padding-64" id="contact">
            <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Contact Us</span>
        </div>

        <form class="w3-container" action="/action_page.php" target="_blank">
            <div class="w3-section">
                <label>Name</label>
                <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Name"
                    required>
            </div>
            <div class="w3-section">
                <label>Email</label>
                <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Email"
                    required>
            </div>
            <div class="w3-section">
                <label>Subject</label>
                <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Subject" required>
            </div>
            <div class="w3-section">
                <label>Message</label>
                <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Message" required>
            </div>
            <button type="submit" class="w3-button w3-block w3-black">Send</button>
        </form>

    </div>

</div>