
.fonts3{
    font-family: 'Nunito Sans', sans-serif !important;

}
.footer{
    padding-top: 3%;
    background-color: #52a4a5;
    color: white;

}
.logoFluid{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.logoAzulStyle{
    width: 30%;
}
.font2Rem{
    font-size: 2rem !important;
}
.pointer {
    cursor: pointer;
}
.navBar{
    background-color: #52a4a5;
    color: white;
}

.bannerInicio{
    height: 40rem;
    background-image: url('/assets/images/2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.seaCimg{
    background-image: url('/assets/images/seaSum.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 20%;

}
.productosBg{
    height: 12rem;
    background-image: url('/assets/images/bannerProductos.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 50%;
    margin-bottom: 5%;
}
.slogan{
    padding: 2%;
}
.firstBG{
    background-color: #c7efcf ;
}
.secondBG{
    background-color: #9bf0ac ;
}
.thirdBG{
    background-color: #23db4c;
    
}
.fourthBG{
    background-color: #cfe5ff ;

}
.btnSea{
    background-color: #cfe5ff !important;

}
button:hover{
    transition: 0.3s;
}
.listIcon{
    color: #2f76cd;
}
.logoPngColor{
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

  
@media (max-width: 767px) {
    .bg-image {
      height: 1400px !important;
    }
}

@media (min-width: 992px) {
   
    .footer{
        /* margin-top: -9%; */
        padding-bottom: 2%;
    }
    .listItem{
        font-size: 2rem !important;
    }
    
    
    .rounded-tr-lg-0 {
        border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
    }
}

@media(max-width:991px){
    .bannerInicio{
        height: 31rem;
        background-position: 68% 315%;
    }
    .slogan{
        margin-top: 4%;
    }
    .logoPngColor{
        margin-top: 25%;
        width: 100%;
    }
    .seaCimg{
        height: 30rem;
        margin-top: 11%;
    
    }
    
}